<%- include('../layout/header') -%>
<link rel="stylesheet" href="/css/login.css">
</header>
<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-5 mx-auto bg-light p-4">
        <% if(confirm) {%>
            <div class="alert alert-success" role="alert">
              <p class="m-0">We send a token to reset your password.</p>
              <p class="m-0">Please check <a href="https://mail.google.com/">your email</a> from minggu.</p>
              <p class="m-0">(Check spam if not find email)</p>
              <p class="m-0">Note: Token available in 24 hours.</p>
            </div>
        <% } %>  
      <h2 class="text-center">Cofirm your email</h2>
      <form method="post" action="/forgot-password">
          <div class="<%= `${errors && errors['email'] ? 'mb-1' : 'mb-3'}`%>">
            <input
              type="email"
              class="<%= `form-control ${errors && errors['email'] ? 'is-invalid' : ''}` %>"
              placeholder="Your email address" 
              name="email" 
              value="<%= `${input && input['email'] ? input['email'] : ''}` %>"
            />
            <% if(errors && errors['email']) { %>
              <p class='text-danger mb-0'><%= errors['email'] %> </p>
              <% } %> 
          </div>
        <div class="d-grid gap-2">
          <button id="btnLogin" class="btn btn-DeepSkyBlue btn-block" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../layout/footer') -%>
<script>
  const btn = $('#btnLogin');
  btn.click(function(e) {
    setTimeout(function() {
      btn.prop("disabled", true);
    }, 10)
  })
</script>
</body>
</html>
