<%- include('../layout/header') -%>
<link rel="stylesheet" href="/css/login.css">
</header>
<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-5 mx-auto bg-light p-4">
        <% if(success) {%>
            <div class="alert alert-success" role="alert">
              <p class="m-0">Reset password success.Come back <a href="/login">Login</a></p>
            </div>
        <% } else {%>  
      <h2 class="text-center">Reset your password</h2>
      <form method="post">
          <div class="<%= `${errors && errors['password'] ? 'mb-1' : 'mb-3'}`%>">
            <input
              type="password"
              class="<%= `form-control ${errors && errors['password'] ? 'is-invalid' : ''}` %>"
              placeholder="New Password" 
              name="password" 
              value="<%= `${input && input['password'] ? input['password'] : ''}` %>"
            />
            <% if(errors && errors['password']) { %>
              <p class='text-danger mb-0'><%= errors['password'] %> </p>
              <% } %> 
          </div>
          <div class="<%= `${errors && errors['confirm'] ? 'mb-1' : 'mb-3'}`%>">
            <input
              type="password"
              class="<%= `form-control ${errors && errors['confirm'] ? 'is-invalid' : ''}` %>"
              placeholder="Confirm Password" 
              name="confirm" 
              value="<%= `${input && input['confirm'] ? input['confirm'] : ''}` %>"
            />
            <% if(errors && errors['confirm']) { %>
              <p class='text-danger mb-0'><%= errors['confirm'] %> </p>
              <% } %> 
          </div>
        <div class="d-grid gap-2">
          <button id="btnLogin" class="btn btn-DeepSkyBlue btn-block" type="submit">Save</button>
        </div>
      </form>
      <% } %> 
    </div>
  </div>
</div>

<%- include('../layout/footer') -%>
<script>
  const btn = $('#btnLogin');
  btn.click(function(e) {
    setTimeout(function() {
      btn.prop("disabled", true);
    }, 10)
  })
</script>
</body>
</html>
