<% let displayName = firstName + ' ' + lastName %>  
<div id="profileContainer" class="pt-3 px-2 mb-2">
  <div class="backgroundProfile">
    <img data-background=<%= `img${_id}png`%>
     src="<%= getBackground(background) %> " 
     alt="background" />
    <% if(isUser) {%>
    <div class="uploadBackgroundContainer">
      <button class="uploadButton" title="upload background" value="background">
        <i class="fas fa-camera"></i>
      </button>
    </div>
    <% } %>
  </div>
  <div class="avatarProfile">
    <div class="avatarProfileContainer">
      <img
        data-avatar="<%= 'img' + _id + 'png' %>"
        class="rounded-circle"
        src="<%= getAvatar(avatar) %>"
        alt="avatar"
        title="<%= username %>"
      />
      <% if(isUser) {%>
      <div class="uploadAvatarContainer">
      <button class="uploadButton" title="upload avatar" value="avatar">
        <i class="fas fa-camera"></i>
      </button>
    </div>
    <% } %>
    </div>
    <% if(!isUser) {%>
    <form class="formFollowProfile">
      <button
        data-following="<%= isFollowing %>"  
        data-follow-username="<%= username %>"
        type="submit" 
        class="btn btn-primary btnFollowProfile"><%= isFollowing ? "Following" : "Follow" %></button> </button>
    </form>
    <% } %>
  </div>
  <div class="detailProfileContainer">
    <h4><%= displayName %></h4>
    <p>@<%= username %> </p>
    <div class="followDetail">
      <span>
        <h6><%= following %> </h6>
        <p>Following</p>
      </span>
      <span>
        <h6><%= follower %> </h6>
        <% if(follower > 1){ %>
          <p>Followers</p>
          <% } else {%>
            <p>Follower</p>
        <% } %>    
      </span>
    </div>
  </div>
</div>
