<div id="profileContainer" class="py-3 px-2 mb-2">
  <div class="backgroundProfile">
    <img data-background=<%= `img${_id}png`%>
     src="<%= getBackground(background) %> " 
     alt="background" />
    <% if(isUser) {%>
    <div class="uploadBackgroundContainer">
      <button class="uploadButton" title="upload background" value="background">
        <i class="fas fa-camera"></i>
      </button>
    </div>
    <% } %>
  </div>
  <div class="avatarProfile">
    <div class="avatarProfileContainer">
      <img
        data-avatar="<%= 'img' + _id + 'png' %>"
        class="rounded-circle"
        src="<%= getAvatar(avatar) %>"
        alt="avatar"
        title="<%= username %>"
      />
      <% if(isUser) {%>
      <div class="uploadAvatarContainer">
      <button class="uploadButton" title="upload avatar" value="avatar">
        <i class="fas fa-camera"></i>
      </button>
    </div>
    <% } %>
    </div>
    <% if(!isUser) {%>
    <form class="formFollowProfile">
      <button
        data-following="<%= isFollowing %>"  
        data-follow-username="<%= username %>"
        type="submit" 
        class="btn btn-primary btnFollowProfile"><%= isFollowing ? "Following" : "Follow" %></button> </button>
    </form>
    <% } %>
  </div>
</div>
